@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  45%,
  55% {
    width: 6.2em;
  } /* adjust width based on content */
  90%,
  100% {
    width: 0;
  }
}

.terminalLoader {
  border: 0.1em solid #d3d3d3; /* Легкий серый для границы */
  background-color: #f7f7f7; /* Светлый фон */
  color: #333; /* Темный текст для контраста */
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 1.5em 1em;
  width: 12em;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.terminalHeader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background-color: #e0e0e0; /* Серый фон заголовка */
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 0 0.4em;
  box-sizing: border-box;
}

.terminalControls {
  float: right;
}

.control {
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  margin-left: 0.4em;
  border-radius: 50%;
  background-color: #ccc; /* Легкий серый для иконок */
}

.close {
  background-color: #ff5c5c; /* Красный цвет для закрытия */
}

.minimize {
  background-color: #ffbd44; /* Оранжевый для сворачивания */
}

.maximize {
  background-color: #28c840; /* Зеленый для развертывания */
}

.terminalTitle {
  float: left;
  line-height: 1.5em;
  color: #333; /* Темный цвет для заголовка */
}

.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.2em solid #333; /* Темный цвет для курсора */
  animation: typeAndDelete 4s steps(11) infinite, blinkCursor 0.5s step-end infinite alternate;
  margin-top: 1.5em;
}