.button {
	font-weight: bold;
	font-size: 18px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--mainColor);
	border-radius: 10px;
	text-transform: uppercase;
	border: none;
	padding: 15px 0;
	color: var(--mainInverseColor);
	svg {
		font-size: 22px;
	}
}
.altStyle {
	background-color: var(--mainInverseColor) !important;
	color: var(--mainColor) !important;
	border: 3px solid var(--mainColor) !important;
}

.yellow {
	background-color: var(--mainBackground);
	color: var(--yellowColor);
	border: 3px solid var(--yellowColor);
}

.green {
	background-color: var(--mainBackground);
	color: var(--greenColor);
	border: 3px solid var(--greenColor);
}

.blue {
	background-color: var(--mainBackground);
	color: var(--blueColor);
	border: 3px solid var(--blueColor);
}

.red {
	background-color: var(--mainBackground);
	color: var(--redColor);
	border: 3px solid var(--redColor);
}
