.main {
	width: 100%;
	height: 100%; // фиксированная высота
	background-color: var(--mainBackground);
	border: 2px solid var(--mainBorder);
	display: flex;
	align-items: center;
	overflow: hidden; // обязательно ограничиваем переполнение

	@media (max-width: 1200px) {
		height: 100%;
		border: none;
	}
}