.heading {
	font-size: clamp(18px, 4.5vw, 22px);
	font-weight: bold;
	color: var(--mainColor);
}
.close {
	position: absolute;
	right: 20px;
	font-size: 30px;
	cursor: pointer;

}
.group {
	width: 100%;
}

.description {
	width: 100%;
	font-size: clamp(10px, 3vw, 14px);
	color: #858585;
}
.inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.avatar {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	object-fit: cover;
	.edit {
		position: absolute;
		top: 0;
		width: 100px;
		height: 100px;
		border-radius: 100px;
		z-index: 1000;
		font-size: 42px;
		color: #fff;
		background-color: #00000098;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		transition: opacity 0.5s ease-in-out;
		cursor: pointer;
	}
}
.avatar:hover {
	.edit {
		opacity: 1;
	}
}
