.header {
	height: 100px;
	width: 100vw;
	display: flex;
	align-items: center;
	// border-bottom: 2px solid #dfdfdf;
	// border-bottom-left-radius: 20px;
	// border-bottom-right-radius: 20px;
	// box-shadow: 0 0px 20px #eeeeee;
	@media (max-width: 1200px) {
		height: 70px;
		padding: 0px 10px;
	}
	.header-content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;

		h3 {
			font-size: clamp(20px, 2vw, 40px);
			font-weight: 500;
			text-transform: uppercase;
			display: flex;
			padding: 0 0 0 20px;
			border-left: 5px solid var(--mainColor);
			gap: 10px;
			@media (max-width: 1200px) {
				flex-direction: column;
			}
			p {
				margin: 0;
				padding: 0;
			}
		}
		.search {
			width: 100%;
			border-radius: 10px;
			.search-icon {
				color: #b0b0b0;
				@media (max-width: 450px) {
					display: none;

				}
			}
		}
	}
}
