.wrapper {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	padding-left: 5%;
	gap: 20px;
	align-items: center;
	position: relative;
	.avatar-wrapper {
		width: 45px;
	}
	.message {
		background-color: #f1f1f1;
		padding: 10px 45px 15px 10px;
		border-radius: 15px;
		font-size: 16px;
		width: auto;
		max-width: 70%;
		position: relative;
		@media (max-width: 800px) {
			max-width: 80%;
		}
		.user-name {
			font-weight: bold;
			font-size: 14px;
			margin: 0;
			color: #000;
		}

		.detalis {
			right: 5px;
			bottom: 3px;
			position: absolute;
			font-size: 12px;
			display: flex;
			align-items: flex-end;
			svg {
				font-size: 16px;
			}
		}
		code {
			display: block;
			background-color: #1e1e1e; 
			color: #d4d4d4; 
			padding: 10px; 
			border-radius: 5px; 
			font-family: 'Courier New', Courier, monospace; 
			font-size: 14px; 
			line-height: 1.5;
			white-space: pre-wrap;
			word-wrap: break-word;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
		}
	}
}

.is-my-message {
	justify-content: flex-end;
	padding-right: 7%;
	.message {
		background-color: #181818;
		color: #fff;
		code {
			background-color: #d4d4d4;
			color: #1e1e1e;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		}
	}
	.hiz-last {
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 15px;
		&::before {
			border-color: transparent transparent transparent #181818;
			left: auto;
			right: -10px;
		}
	}
}

.hiz-first {
	padding: 20px 45px 15px 10px;
}

.hiz-last {
	border-bottom-left-radius: 0px;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -10px;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 10px 0;
		border-color: transparent #f1f1f1 transparent transparent;
	}
}
