.layout {
	background-color: var(--mainBackground) !important;
	height: 100dvh;
	gap: 20px;
	padding: 20px 0px 40px;
	@media (max-width: 1200px) {
		padding: 0px;
	}
	.main {
		height: 92%;
		@media (max-width: 1200px) {
			height: 100%;
		}
	}
}